$icon-font-path: '../bower_components/bootstrap-sass/fonts/';
@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

